test_data/
f_and_b.txt
f_and_b.md
features_and_bugs.xlsx
*.idea
*.env
*.venv
desktop.ini
ui/__pycache__/
core/__pycache__/
**/__pycache__/
*.dps
*.dps.data
.vscode/
dataplot_script.py
dataplot_session.log
tests/
.ruff_cache
review.md
whats_new_template.html